#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;


  --cor-primaria: var(#969696);
  --cor-secundaria: var(#202124);
  --cor-branco: var(#ffffff);
  --cor-btn-verde: var(#3fa14c);
  --cor-btn-vermelho: var(#cf3034);
  --cor-btn-azul: var(#3773a5);
  --cor-btn-amarelo: var(#ffd647);
}